<a href="https://colab.research.google.com/github/mahee7788/PDS/blob/main/16358619_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
from tabulate import tabulate

In [3]:
# Load the dataset
df = pd.read_csv('train.csv')

# Display the first few rows to verify the data is loaded correctly
print("First Few Rows of the DataFrame:")
print(tabulate(df.head(), headers='keys', tablefmt='grid'))

First Few Rows of the DataFrame:
+----+--------------+----------------------------------+------------+--------+---------------------+-------------+----------------+--------------+------------+----------+-----------+---------+-------------+---------+
|    |   Unnamed: 0 | Name                             | Location   |   Year |   Kilometers_Driven | Fuel_Type   | Transmission   | Owner_Type   | Mileage    | Engine   | Power     |   Seats | New_Price   |   Price |
+====+==============+==================================+============+========+=====================+=============+================+==============+============+==========+===========+=========+=============+=========+
|  0 |            1 | Hyundai Creta 1.6 CRDi SX Option | Pune       |   2015 |               41000 | Diesel      | Manual         | First        | 19.67 kmpl | 1582 CC  | 126.2 bhp |       5 | nan         |   12.5  |
+----+--------------+----------------------------------+------------+--------+---------------------+-------------+----------------+--------------+------------+----------+-----------+---------+-------------+---------+
|  1 |            2 | Honda Jazz V                     | Chennai    |   2011 |               46000 | Petrol      | Manual         | First        | 13 km/kg   | 1199 CC  | 88.7 bhp  |       5 | 8.61 Lakh   |    4.5  |
+----+--------------+----------------------------------+------------+--------+---------------------+-------------+----------------+--------------+------------+----------+-----------+---------+-------------+---------+
|  2 |            3 | Maruti Ertiga VDI                | Chennai    |   2012 |               87000 | Diesel      | Manual         | First        | 20.77 kmpl | 1248 CC  | 88.76 bhp |       7 | nan         |    6    |
+----+--------------+----------------------------------+------------+--------+---------------------+-------------+----------------+--------------+------------+----------+-----------+---------+-------------+---------+
|  3 |            4 | Audi A4 New 2.0 TDI Multitronic  | Coimbatore |   2013 |               40670 | Diesel      | Automatic      | Second       | 15.2 kmpl  | 1968 CC  | 140.8 bhp |       5 | nan         |   17.74 |
+----+--------------+----------------------------------+------------+--------+---------------------+-------------+----------------+--------------+------------+----------+-----------+---------+-------------+---------+
|  4 |            6 | Nissan Micra Diesel XV           | Jaipur     |   2013 |               86999 | Diesel      | Manual         | First        | 23.08 kmpl | 1461 CC  | 63.1 bhp  |       5 | nan         |    3.5  |
+----+--------------+----------------------------------+------------+--------+---------------------+-------------+----------------+--------------+------------+----------+-----------+---------+-------------+---------+

Look for the missing values in all the columns and either impute them (replace with mean,
median, or mode) or drop them. Justify your action for this task.

In [4]:
# Define function to clean numeric columns
def clean_numeric_column(column):
    # Remove non-numeric characters and convert to float
    return pd.to_numeric(column.str.replace(r'[^0-9.]', '', regex=True), errors='coerce')

In [5]:
# Apply the function to the necessary columns
df['Mileage'] = clean_numeric_column(df['Mileage'])
df['Engine'] = clean_numeric_column(df['Engine'])
df['Power'] = clean_numeric_column(df['Power'])

In [6]:
# Impute missing values
# Mileage - impute with median
df['Mileage'] = df['Mileage'].fillna(df['Mileage'].median())
# Engine - impute with median
df['Engine'] = df['Engine'].fillna(df['Engine'].median())
# Power - impute with median
df['Power'] = df['Power'].fillna(df['Power'].median())
# Seats - impute with mode (most common value)
df['Seats'] = df['Seats'].fillna(df['Seats'].mode()[0])

In [7]:
# Drop New_Price column due to high proportion of missing values
df.drop(columns=['New_Price'], inplace=True)

In [8]:
# Final check for missing values
print("Remaining missing values:\n", df.isnull().sum())

Remaining missing values:
 Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

Remove the units from some of the attributes and only keep the numerical values (for
example remove kmpl from “Mileage”, CC from “Engine”, bhp from “Power”, and lakh from
“New_price”)

In [9]:
print(df.columns)

Index(['Unnamed: 0', 'Name', 'Location', 'Year', 'Kilometers_Driven',
       'Fuel_Type', 'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power',
       'Seats', 'Price'],
      dtype='object')

In [10]:
#  Define a function to clean numeric columns by removing units and converting to float
def clean_numeric_column(column):
    # Ensure the column is treated as a string, remove non-numeric characters, and convert to float
    if column is not None:
        return pd.to_numeric(column.astype(str).str.replace(r'[^0-9.]', '', regex=True), errors='coerce')
    return None  # Return None if column does not exist

In [11]:
# Clean columns if they exist
df['Mileage'] = clean_numeric_column(df.get('Mileage'))  # Removes 'kmpl' from 'Mileage'
df['Engine'] = clean_numeric_column(df.get('Engine'))    # Removes 'CC' from 'Engine'
df['Power'] = clean_numeric_column(df.get('Power'))      # Removes 'bhp' from 'Power'
df['New_Price'] = clean_numeric_column(df.get('New_Price'))  # Removes 'lakh' from 'New_Price'

In [12]:
# Display the cleaned columns to verify
print("Cleaned Columns:")
print(tabulate(df[['Mileage', 'Engine', 'Power', 'New_Price']].head(), headers='keys', tablefmt='grid'))

Cleaned Columns:
+----+-----------+----------+---------+-------------+
|    |   Mileage |   Engine |   Power | New_Price   |
+====+===========+==========+=========+=============+
|  0 |     19.67 |     1582 |  126.2  |             |
+----+-----------+----------+---------+-------------+
|  1 |     13    |     1199 |   88.7  |             |
+----+-----------+----------+---------+-------------+
|  2 |     20.77 |     1248 |   88.76 |             |
+----+-----------+----------+---------+-------------+
|  3 |     15.2  |     1968 |  140.8  |             |
+----+-----------+----------+---------+-------------+
|  4 |     23.08 |     1461 |   63.1  |             |
+----+-----------+----------+---------+-------------+

Change the categorical variables (“Fuel_Type” and “Transmission”) into numerical one hot
encoded value

In [13]:
# Perform one-hot encoding on 'Fuel_Type' and 'Transmission' columns
df = pd.get_dummies(df, columns=['Fuel_Type', 'Transmission'], drop_first=True)

In [14]:
# Display the updated DataFrame to verify
print("\nUpdated DataFrame after One-Hot Encoding (showing first few rows):")
print(tabulate(df.head(), headers='keys', tablefmt='grid'))

Updated DataFrame after One-Hot Encoding (showing first few rows):
+----+--------------+----------------------------------+------------+--------+---------------------+--------------+-----------+----------+---------+---------+---------+-------------+----------------------+--------------------+-----------------------+
|    |   Unnamed: 0 | Name                             | Location   |   Year |   Kilometers_Driven | Owner_Type   |   Mileage |   Engine |   Power |   Seats |   Price | New_Price   | Fuel_Type_Electric   | Fuel_Type_Petrol   | Transmission_Manual   |
+====+==============+==================================+============+========+=====================+==============+===========+==========+=========+=========+=========+=============+======================+====================+=======================+
|  0 |            1 | Hyundai Creta 1.6 CRDi SX Option | Pune       |   2015 |               41000 | First        |     19.67 |     1582 |  126.2  |       5 |   12.5  |             | False                | False              | True                  |
+----+--------------+----------------------------------+------------+--------+---------------------+--------------+-----------+----------+---------+---------+---------+-------------+----------------------+--------------------+-----------------------+
|  1 |            2 | Honda Jazz V                     | Chennai    |   2011 |               46000 | First        |     13    |     1199 |   88.7  |       5 |    4.5  |             | False                | True               | True                  |
+----+--------------+----------------------------------+------------+--------+---------------------+--------------+-----------+----------+---------+---------+---------+-------------+----------------------+--------------------+-----------------------+
|  2 |            3 | Maruti Ertiga VDI                | Chennai    |   2012 |               87000 | First        |     20.77 |     1248 |   88.76 |       7 |    6    |             | False                | False              | True                  |
+----+--------------+----------------------------------+------------+--------+---------------------+--------------+-----------+----------+---------+---------+---------+-------------+----------------------+--------------------+-----------------------+
|  3 |            4 | Audi A4 New 2.0 TDI Multitronic  | Coimbatore |   2013 |               40670 | Second       |     15.2  |     1968 |  140.8  |       5 |   17.74 |             | False                | False              | False                 |
+----+--------------+----------------------------------+------------+--------+---------------------+--------------+-----------+----------+---------+---------+---------+-------------+----------------------+--------------------+-----------------------+
|  4 |            6 | Nissan Micra Diesel XV           | Jaipur     |   2013 |               86999 | First        |     23.08 |     1461 |   63.1  |       5 |    3.5  |             | False                | False              | True                  |
+----+--------------+----------------------------------+------------+--------+---------------------+--------------+-----------+----------+---------+---------+---------+-------------+----------------------+--------------------+-----------------------+

Create one more feature and add this column to the dataset (you can use mutate function in
R for this). For example, you can calculate the current age of the car by subtracting “Year” value
from the current year

In [15]:
from datetime import datetime
from tabulate import tabulate

In [16]:
# Calculate the current year
current_year = datetime.now().year

In [17]:
# Create a new feature 'Car_Age'
df['Car_Age'] = current_year - df['Year']

In [18]:
# Create a new feature 'Car_Age' by subtracting 'Year' from the current year
df['Car_Age'] = current_year - df['Year']

In [19]:
# Display only the first few rows of the DataFrame
print("\nUpdated DataFrame with Car Age (showing first few rows):")
print(tabulate(df.head(), headers='keys', tablefmt='grid'))

Updated DataFrame with Car Age (showing first few rows):
+----+--------------+----------------------------------+------------+--------+---------------------+--------------+-----------+----------+---------+---------+---------+-------------+----------------------+--------------------+-----------------------+-----------+
|    |   Unnamed: 0 | Name                             | Location   |   Year |   Kilometers_Driven | Owner_Type   |   Mileage |   Engine |   Power |   Seats |   Price | New_Price   | Fuel_Type_Electric   | Fuel_Type_Petrol   | Transmission_Manual   |   Car_Age |
+====+==============+==================================+============+========+=====================+==============+===========+==========+=========+=========+=========+=============+======================+====================+=======================+===========+
|  0 |            1 | Hyundai Creta 1.6 CRDi SX Option | Pune       |   2015 |               41000 | First        |     19.67 |     1582 |  126.2  |       5 |   12.5  |             | False                | False              | True                  |         9 |
+----+--------------+----------------------------------+------------+--------+---------------------+--------------+-----------+----------+---------+---------+---------+-------------+----------------------+--------------------+-----------------------+-----------+
|  1 |            2 | Honda Jazz V                     | Chennai    |   2011 |               46000 | First        |     13    |     1199 |   88.7  |       5 |    4.5  |             | False                | True               | True                  |        13 |
+----+--------------+----------------------------------+------------+--------+---------------------+--------------+-----------+----------+---------+---------+---------+-------------+----------------------+--------------------+-----------------------+-----------+
|  2 |            3 | Maruti Ertiga VDI                | Chennai    |   2012 |               87000 | First        |     20.77 |     1248 |   88.76 |       7 |    6    |             | False                | False              | True                  |        12 |
+----+--------------+----------------------------------+------------+--------+---------------------+--------------+-----------+----------+---------+---------+---------+-------------+----------------------+--------------------+-----------------------+-----------+
|  3 |            4 | Audi A4 New 2.0 TDI Multitronic  | Coimbatore |   2013 |               40670 | Second       |     15.2  |     1968 |  140.8  |       5 |   17.74 |             | False                | False              | False                 |        11 |
+----+--------------+----------------------------------+------------+--------+---------------------+--------------+-----------+----------+---------+---------+---------+-------------+----------------------+--------------------+-----------------------+-----------+
|  4 |            6 | Nissan Micra Diesel XV           | Jaipur     |   2013 |               86999 | First        |     23.08 |     1461 |   63.1  |       5 |    3.5  |             | False                | False              | True                  |        11 |
+----+--------------+----------------------------------+------------+--------+---------------------+--------------+-----------+----------+---------+---------+---------+-------------+----------------------+--------------------+-----------------------+-----------+

Perform select, filter, rename, mutate, arrange and summarize with group by operations (or
their equivalent operations in python) on this dataset. (

In [20]:
# Function to calculate Car Age
def calculate_car_age(df):
    current_year = datetime.now().year
    df['Car_Age'] = current_year - df['Year']
    return df
# Processing the DataFrame through the defined functions with intermediate outputs
df = calculate_car_age(df)
print("\nAfter Calculating Car Age:")
print(tabulate(df.head(3), headers='keys', tablefmt='grid'))

After Calculating Car Age:
+----+--------------+----------------------------------+------------+--------+---------------------+--------------+-----------+----------+---------+---------+---------+-------------+----------------------+--------------------+-----------------------+-----------+
|    |   Unnamed: 0 | Name                             | Location   |   Year |   Kilometers_Driven | Owner_Type   |   Mileage |   Engine |   Power |   Seats |   Price | New_Price   | Fuel_Type_Electric   | Fuel_Type_Petrol   | Transmission_Manual   |   Car_Age |
+====+==============+==================================+============+========+=====================+==============+===========+==========+=========+=========+=========+=============+======================+====================+=======================+===========+
|  0 |            1 | Hyundai Creta 1.6 CRDi SX Option | Pune       |   2015 |               41000 | First        |     19.67 |     1582 |  126.2  |       5 |    12.5 |             | False                | False              | True                  |         9 |
+----+--------------+----------------------------------+------------+--------+---------------------+--------------+-----------+----------+---------+---------+---------+-------------+----------------------+--------------------+-----------------------+-----------+
|  1 |            2 | Honda Jazz V                     | Chennai    |   2011 |               46000 | First        |     13    |     1199 |   88.7  |       5 |     4.5 |             | False                | True               | True                  |        13 |
+----+--------------+----------------------------------+------------+--------+---------------------+--------------+-----------+----------+---------+---------+---------+-------------+----------------------+--------------------+-----------------------+-----------+
|  2 |            3 | Maruti Ertiga VDI                | Chennai    |   2012 |               87000 | First        |     20.77 |     1248 |   88.76 |       7 |     6   |             | False                | False              | True                  |        12 |
+----+--------------+----------------------------------+------------+--------+---------------------+--------------+-----------+----------+---------+---------+---------+-------------+----------------------+--------------------+-----------------------+-----------+

In [21]:
# Function to select specific columns
def select_columns(df):
    return df[['Name', 'Year', 'Price', 'Car_Age']]
selected_data = select_columns(df)
print("\nAfter Selecting Specific Columns:")
print(tabulate(selected_data.head(3), headers='keys', tablefmt='grid'))

After Selecting Specific Columns:
+----+----------------------------------+--------+---------+-----------+
|    | Name                             |   Year |   Price |   Car_Age |
+====+==================================+========+=========+===========+
|  0 | Hyundai Creta 1.6 CRDi SX Option |   2015 |    12.5 |         9 |
+----+----------------------------------+--------+---------+-----------+
|  1 | Honda Jazz V                     |   2011 |     4.5 |        13 |
+----+----------------------------------+--------+---------+-----------+
|  2 | Maruti Ertiga VDI                |   2012 |     6   |        12 |
+----+----------------------------------+--------+---------+-----------+

In [22]:
# Function to filter data
def filter_data(df, price_threshold):
    return df[df['Price'] > price_threshold]
filtered_data = filter_data(selected_data, price_threshold=15000)
print("\nAfter Filtering Data (Price > 15000):")
print(tabulate(filtered_data.head(3), headers='keys', tablefmt='grid'))

After Filtering Data (Price > 15000):
+--------+--------+---------+-----------+
| Name   | Year   | Price   | Car_Age   |
+========+========+=========+===========+
+--------+--------+---------+-----------+

In [30]:
# Function to rename columns
def rename_columns(df):
    return df.rename(columns={'Price': 'Used_Car_Price'})
renamed_data = rename_columns(filtered_data)
print("\nAfter Renaming Columns:")
print(tabulate(renamed_data.head(3), headers='keys', tablefmt='grid'))

After Renaming Columns:
+--------+--------+------------------+-----------+
| Name   | Year   | Used_Car_Price   | Car_Age   |
+========+========+==================+===========+
+--------+--------+------------------+-----------+

In [31]:
# Function to mutate data by adding a new column
def mutate_data(df):
    df['Price_Per_Year'] = df['Used_Car_Price'] / df['Car_Age']
    return df
mutated_data = mutate_data(renamed_data)
print("\nAfter Mutating Data (Adding Price_Per_Year):")
print(tabulate(mutated_data.head(3), headers='keys', tablefmt='grid'))

After Mutating Data (Adding Price_Per_Year):
+--------+--------+------------------+-----------+------------------+
| Name   | Year   | Used_Car_Price   | Car_Age   | Price_Per_Year   |
+========+========+==================+===========+==================+
+--------+--------+------------------+-----------+------------------+

In [32]:
# Function to arrange data
def arrange_data(df):
    return df.sort_values(by='Used_Car_Price', ascending=False)
arranged_data = arrange_data(mutated_data)
print("\nFinal Arranged Data:")
print(tabulate(arranged_data.head(3), headers='keys', tablefmt='grid'))

Final Arranged Data:
+--------+--------+------------------+-----------+------------------+
| Name   | Year   | Used_Car_Price   | Car_Age   | Price_Per_Year   |
+========+========+==================+===========+==================+
+--------+--------+------------------+-----------+------------------+

In [27]:
# Processing the DataFrame through the defined functions
df = calculate_car_age(df)
selected_data = select_columns(df)
filtered_data = filter_data(selected_data, price_threshold=15000)
renamed_data = rename_columns(filtered_data)
mutated_data = mutate_data(renamed_data)
arranged_data = arrange_data(mutated_data)

In [28]:
# Display the final arranged data
print("\nFinal Arranged Data:")
print(tabulate(arranged_data, headers='keys', tablefmt='grid'))

Final Arranged Data:
+--------+--------+------------------+-----------+------------------+
| Name   | Year   | Used_Car_Price   | Car_Age   | Price_Per_Year   |
+========+========+==================+===========+==================+
+--------+--------+------------------+-----------+------------------+